@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --primary-color:#002240;
    --secondary-color: orange;
 --dark-color: rgb(206, 255, 192);
    --light-color: #002240;
    --success-color: #5cb85c;
    --error-color: #d9534f;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}
body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}
 
ul{
    list-style-type: none;

}
a {
    text-decoration: none;
    color: #333;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;

}




img{
    width: 100%;
}
code, pre{
    background: #333;
    color: #fff;
    padding: 10px;
}

.hidden{
    visibility: hidden;
    height: 0;
}
/* Navbar*/
.navbar{
    background-color:var(--primary-color);
    color: #fff;
    height: 90px;

}
.navbar ul{
    display: flex;
}

.navbar a{
   
   color: #fff;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.navbar .flex{
    justify-content: space-between;
}
/* showcase*/
body {
    height: 100%;
    background: linear-gradient(-110deg, 50% , 50%);
    
}
body{
    background:linear-gradient( to right ,lightblue,#002234)
}

#wrapper {
    background: url(1px.png) repeat-y;
    background-size: 50% auto;
    width: 100%;
    transform: skewY(-3deg);
}
.showcase{
    height: 400px;
    background-color:var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}
.showcase .grid{
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}
.showcase-text{
    animation: slideInFromLeft 1s ease-in;

    
}
.showcase .form{
    position: relative;
    top: 60px;
    height: 800px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}
.show-form .form-control{
    margin: 30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border: 0;
    border-bottom: 3px solid #b4becb;
    padding: 5px;
    font-size:16px;
}
.showcase-form input:focus{
    outline:none;
}
/*stats*/
/*utilities*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;


}

.card{
    background-color:#fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    transform: scale(0.98);
}
.flex{

display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
    height: 450px;
}

.grid-3{
    grid-template-columns: repeat(3,1fr) ;
}
/*stats*/
.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

    
.stats-heading{
    max-width: 500px;
    margin: auto;

}

    

.stats .grid h3{

    font-size: 40px;
  /*  justify-content: center;
    align-items: center;*/
}
.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}
/*Cli*/
.cli .grid{
    grid-template-columns: repeat(3,1fr);

    
}
.cli .grid >*:first-child{

  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
/* Cloud */
.cloud .grid{
    grid-template-columns: 2fr 3fr;
}
.languages .flex{
    flex-wrap: wrap;
}
/* Languages*/
.languages .card{
    text-align:center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}
.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.languages .card:hover{
    transform: translateY(-15px);


}
/* Features*/
.features-head img, .docs-head img{
    width:  200px;
    justify-self: flex-end;
   /* background-color:;
    mix-blend-mode: multiply;*/


}
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
    filter:#fff(100%);
}
.features-main .card> i{
    margin-right: 20px;

}
.features-main .grid{
    padding: 30px;

}
.features-main .grid> *:first-child{
    grid-column: 1/span 3;
}
.features-main .grid> *:nth-child(2){
    grid-column: 1/span 2;
}
/*Docs*/
.docs-main h3{
    margin:20px 0;
    
}


.docs-main .grid{
    grid-template-columns: 1fr 2fr ;
    align-items: flex-start;
    
}
 .docs-main nav li{
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
 }
 .docs-main a :hover{

    font-weight: bold;
    font-size: 50px;
 }

/* Footer */
.footer .social a{
    margin : 0 10px;

}
/* Animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(0);
    }

}
@keyframes slideInFromRight{
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: (0);
    }


}
@keyframes slideInFronTop{
    0%{
        transform: translatey(100%)
    }
    100%{
        transform: (0);
    }

}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%)
    }
    100%{
        transform: translateX(0);
    }

}


/* Tablets and under*/
@media(max-width: 768px){
   .grid,
   .showcase .grid,
   .stats.grid,
   .cli.grid,
   .cloud .grid,
   .features-main .grid,
   .docs-main .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   }
   .showcase{
    height: auto;

   }
   .showcase-text{
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;


   }
   .showcase-form{
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
        
   }
   .cli .grid> *:first-child{
    grid-column:1;
    grid-row: 1;

   }
   .features-head img,
   .features-sub-head img,
   .docs-head img{
    justify-self: center;
   }
   .features-main .grid> *:first-child,
   .features-main .grid> *:nth-child(2)
   {
      grid-column :1;
   }

   
}
/* Mobile*/
@media(max-width: 500px){
    .navbar{
        height: 110px;
    }
    .navbar .flex{
        flex-direction:column;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0 ,0,0,0.1);
    }

}